<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='styles/main.css' rel='stylesheet' type="text/css">
</head>
<body ng-app="todoListApp">
  <h1>Todo App with AngularJS</h1>

  <div class="list" ng-controller="mainCtrl">
    <div class="item" ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.check" />
      <label ng-hide="editing" type="text" >{{todo.name}}</label>
      <input ng-show="editing" ng-model="todo.name" class="editing-label" />
      <div class="actions">
        <a href="" ng-click="editing = !editing">Edit</a>
      </div>
    </div>
    <a class="item" href="" ng-click="helloWorld()">Test fonction</a>
    <div class="item">{{todos}}</div>
  </div>

  <script src="vendor/angular.min.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
</body>
</html>
